<!--p-->
	<!--%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %-->
<!--/p-->
    <div id="footer">
      <div>
	<center>
        <!--p class="text-muted">Place sticky footer content here.</p-->
	<a style="margin:auto;display: inline-block;" href="http://www.nttec.com/isd" target="_blank" >
		<%= image_tag("nttec.jpg", height: '70') %>
		<!--img height="70" src="assets/nttec.jpg" border="0"-->
	</a>
	<a style="margin:auto;display: inline-block;" href="http://www.cloudtanium.com/" target="_blank" >
		<%= image_tag("cloudtanium.jpg", height: '70') %>
		<!--img height="70" src="assets/cloudtanium.jpg" border="0"-->
	</a>
	<%= image_tag("racequeen.png", height: '70') %>
	<!--img height="70" src="assets/racequeen.png" border="0"-->
	<a style="margin:auto;display: inline-block;" href="http://electricbuddha.org" target="_blank" >
		<%= image_tag("electricbuddha.jpg", height: '70') %>
		<!--img height="70" src="assets/electricbuddha.jpg" border="0"-->
	</a>
	<a style="margin:auto;display: inline-block;" href="http://vpn.maido3.net" target="_blank" >
		<%= image_tag("vpn_maido3.jpg", height: '70') %>
		<!--img height="70" src="assets/vpn_maido3.jpg" border="0"-->
	</a>
	</center>
	<div id="footer-bottom">
		Race Queen Inc. © 2012 <a>RaceQueen.ph</a> | <a>CloudTanium.com</a>
	</div>
      </div>
    </div>
